.postContainer {
    width: 70%;
    padding: 1rem;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    background-color: var(--primary);
    border-radius: 1em;
    
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.profileHeader {

    display: flex;
    align-items: center;
    gap: .5em;
}

.userInfo :nth-child(2) {
    font-size: .9em;
    color: gray;
}

.profileImage {
    width: 2.5em;
    border-radius: 50%;
}

.carousel {
    max-height: 400px;
}


.content ul,.content button {
    font-size: .8rem;
    font-weight: 400;
}

.content button {
    text-decoration: underline;
    cursor: pointer;

} 

.postButton {
    border-top: 1px solid var(--primary);

    display: flex;
    gap: .5em;
}

.likeDiv, .dislikeDiv {
    display: flex;
    align-items: center;

    gap: .4em;
}

.likeButton, .dislikeButton {
    margin-left: .3em;
    padding: .3em;
    border-radius: .2em;
    cursor: pointer;
}

.likeButton:hover, .dislikeButton:hover {
    background-color: rgb(76, 83, 92);
}

.likeInfo, .dislikeInfo {
    font-weight: 400;
    font-size: .8em;
}

.highlight {
    background-color: rgb(76, 83, 92);
}


