.quizContainer {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.4rem;
    font-family: monospace;

    background-color: var(--background);
    color: white;
}

.mainContainer {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

}

.quizText {
    font-size: 6rem;
    font-weight: bold;

    text-shadow: 0 0 .9rem magenta;
}

.timerDiv {
    text-align: center;

    font-size: 3rem;
    font-weight: bold;

    text-shadow: 0 0 .9rem magenta;
}
